<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <div class="OuterContainer">
    <div class="InnerContainer">
      <h1 class="heading">Sign Up</h1>
      <hr>
      <form action="#" method="post">
        <input type="text" placeholder="Name" > 
        <input type="text" placeholder="Username" >
        <input type="text" placeholder="E-mail" >
        <input type="text" placeholder="Password">
        <button type="submit">Sign Up</button>
      </form>
      <h2>Already have an account? <a href="/">Login</a></h2>
    </div>
  </div>
</body>
</html>
